<!--
    Clean Blog menu template with unlimited nesting depth.
    Uses {{SubMenuHtml}} for pre-rendered recursive submenus.
-->

<ul class="navbar-nav ms-auto py-2 py-lg-0">
    {{#each Items}}
    {{#if Items}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-uppercase px-lg-3" href="{{Url}}" role="button" data-bs-toggle="dropdown" aria-expanded="false" {{#if Target}} target="{{Target}}" {{/if}}>
            {{Text}}
        </a>
        {{SubMenuHtml}}
    </li>
    {{else}}
    <li class="nav-item">
        <a class="nav-link text-uppercase px-lg-3" href="{{Url}}" {{#if Target}} target="{{Target}}" {{/if}}>{{Text}}</a>
    </li>
    {{/if}}
    {{/each}}
</ul>
